﻿<h1>Hi {{currentUser.firstName}}!</h1>
<!-- <p>You're logged in with Angular 7!!</p>
<h3>All registered users:</h3>
<ul>
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul> -->

    <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" formControlName="firstName" class="form-control col mr-2" 
        [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control" 
        [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="DOB">Date of Birth</label>
        
        <input type="date"  formControlName="DOB" class="form-control" 
        [ngClass]="{ 'is-invalid': submitted && f.DOB.errors }" />
        <div *ngIf="submitted && f.DOB.errors" class="invalid-feedback">
            <div *ngIf="f.DOB.errors.required">DOB is required</div>
        </div>
    </div>
        <div class="form-group">
            <label for="streetAddress">Street Address</label>
            <input type="text" formControlName="streetAddress" class="form-control" 
            [ngClass]="{ 'is-invalid': submitted && f.streetAddress.errors }" />
            <div *ngIf="submitted && f.streetAddress.errors" class="invalid-feedback">
                <div *ngIf="f.streetAddress.errors.required">Street Address is required</div>
            </div>
        </div>
             <div class="form-group">
                <label for="city">City</label>
                <input type="text" formControlName="city" class="form-control" 
                [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
                <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                    <div *ngIf="f.city.errors.required">city is required</div>
                </div> 
             </div>
    
             <div class="form-group">
                <label for="state">State</label>
                <input type="text" formControlName="state" class="form-control" 
                [ngClass]="{ 'is-invalid': submitted && f.state.errors }" />
                <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                    <div *ngIf="f.state.errors.required">state is required</div>
                </div> 
             </div>

             <div class="form-group">
                <label for="zipcode">Zip Code</label>
                <input type="text" formControlName="zipcode" class="form-control" 
                [ngClass]="{ 'is-invalid': submitted && f.zipcode.errors }" />
                <div *ngIf="submitted && f.zipcode.errors" class="invalid-feedback">
                    <div *ngIf="f.zipcode.errors.required">zip code is required</div>
                </div> 
             </div>

             <div class="form-group">
                <label for="email">Email</label>
                <input type="email" formControlName="email" class="form-control" 
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email code is required</div>
                </div> 
             </div>

             <div class="form-group">
                <label for="sex">Sex</label>
                <select placeholder="Select Gender" formControlName="sex" class="form-control"
                 [ngClass]="{ 'is-invalid': f.submitted && sex.invalid }" required>
                    <option>Male</option>
                    <option>Female</option>
                    <option>Other</option>
                  </select>
                <!-- <input type="text" formControlName="sex" class="form-control" 
                [ngClass]="{ 'is-invalid': submitted && f.sex.errors }" /> -->
                <div *ngIf="submitted && f.sex.errors" class="invalid-feedback">
                    <div *ngIf="f.sex.errors.required">sex is required</div>
                </div> 
             </div>

             <div class="form-group">
                <label for="contactNumber">Contact Number</label>
                <input id="contactNumber" (keypress)="keyPress($event)" type="text"  formControlName="contactNumber" class="form-control" 
                [ngClass]="{ 'is-invalid': submitted && f.contactNumber.errors }" >
                <div *ngIf="submitted && f.contactNumber.errors" class="invalid-feedback">
                    <div *ngIf="f.contactNumber.errors.required">contact Number is required</div>
                </div> 
              
             </div>

             <!-- <div class="form-group">
                <label for="lastLogin">Contact Number</label>
                <input type="text" formControlName="lastLogin" class="form-control" 
                [ngClass]="{ 'is-invalid': submitted && f.lastLogin.errors }" />
                <div *ngIf="submitted && f.lastLogin.errors" class="invalid-feedback">
                    <div *ngIf="f.lastLogin.errors.required">last Login is required</div>
                </div> 
             </div> -->

             <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">Save</button>
                <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                <!-- <a routerLink="/login" class="btn btn-link">Cancel</a> -->
            </div>
    
</form>
